@font-face {
    font-family: 'Avenir', sans-serif;
    src: url(../fonts/Avenir.ttf);
}
@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(../fonts/Helvetica.ttf);
}
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgb(246,250,253), rgb(255,255,255));
}
main {
    width: 80vw;
    margin-top: 50px;
    margin-left: 15vw;
    margin-right: 5vw;
    height: 755px;
    font-family: 'Avenir', sans-serif;
    color: #4B5D68;
    background-image: url(../img/main_background.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
header {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    column-gap: 1fr;
    align-items: center;
    height: 60px;
}
nav {
    margin-left: 7.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 320px;
}
.request-button {
    margin-left: 26.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 210px;
    height: 60px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: #212353;
    border: none;
    background: white;
    border-radius: 50px;
    box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
    outline: none;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
a {
    text-decoration: none;
    outline: none;
}
.nav-links {
    color: #4B5D68;
}
.nav-links:visited {
    color: #4B5D68;
}
.nav-links:hover {
    font-weight: 700;
    color: #212353;
}
.image-link:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
.main-info {
    width: 645px;
    height: 465px;
    margin-top: 130px;
}
h1 {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 80px;
    color:  #212353;
}
p {
    font-family: 'Avenir', sans-serif;
    color: #4B5D68;
    font-size: 18px;
    line-height: 1.6;
}
.main-text {
    width: 370px;
    margin-top: 50px;
}
.learn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    margin-top: 50px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    background: #9C69E2;
    border-radius: 50px;
    outline: none;
}
.info {
    width: 1120px;
    height: 560px;
    margin-top: 100px;
    margin-left: 15vw;
    margin-right: auto;
    border-radius: 50px;
    background-image: url(../img/storage.png);
    background-repeat: no-repeat;
    background-position: 10px 30px;
    background-color: rgba(240,99,184, 0.15);
    
}
.storage {
    position: absolute;
    width: 465px;
    height: 310px;
    margin-left: 550px;
    margin-top: 125px;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    color:  #212353;
    font-size: 40px;
    margin: 0px;
}
.info-text {
    margin-top: 40px;
}
.features {
    margin-top: 150px;
    margin-left: 15vw;
    margin-right: auto;
    width: 1140px;
    height: 1005px;
}
.features-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 585px;
}
.features-text {
    margin-top: 50px;
    text-align: center;
}
.feature-container {
    display: grid;
    margin-top: 100px;
    justify-content: space-between;
    grid-template-columns: 540px 540px;
    grid-template-rows: 340px 340px;
    row-gap: 50px;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    margin-left: 0;
    color: #212353;
    font-size: 24px;
    font-weight: 400;
}
.block-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 275px;
}
.block-paragraph {
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    height: 160px;
    margin-top: 0;
}
.feature-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 25px;
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #212353;
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
}
.feature-block {
    display: flex;
    gap: 30px;
    align-items: center;
}
.testimonials {
    height: 710px;
    width: 1120px;
    margin-top: 175px;
    margin-left: 15vw;
    margin-right: auto;
    border-radius: 50px;
    background-color: #9C69E2;
    padding: 110px 75px 60px 90px;
}
.testimonials h2 {
    color: white;
}
.presentation {
    width: 100%;
    height: 330px;
    margin-top: 85px;
    padding: 60px 103px 50px 103px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 45px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 20px 0px 0px rgba(0, 0, 0, 0.2);
}
.presentation p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}
.presentation a {
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
    color:  #9C69E2;
}
.presentation a:visited {
    color:  #9C69E2;
}
h4 {
    font-family: 'Avenir', sans-serif;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #212353;
}
.presentation p:last-child {
    margin-top: 0;
}
input {
    outline: none;
}
.slider-buttons {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
}
.arrow-buttons {
    height: 100%;
}
footer {
    position: relative;
    height: 760px;
    width: 1120px;
    margin-top: 250px;
    margin-left: 15vw;
    margin-right: auto;
    font-family: 'Avenir', sans-serif;
}
.footer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-head button {
    margin: 0;
}
.footer-head .learn-button {
    background: #F063B8;
    border: none;
}
.footer-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.links {
    margin-top: 150px;
    display: grid;
    font-size: 16px;
    color: #212353;
    grid-template-rows: 50px 200px;
    grid-template-columns: 335px 166px 166px 178px;
    row-gap: 30px;
    justify-content: space-between;
}
.footer-logo {
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #212353;
    display: flex;
    align-items: center;
    gap: 20px;
}
.link-head {
    color: inherit;
    font-weight: 700;
}
.contacts {
    padding-top: 40px;
}
.email {
    width: 180px;
    color: inherit;
    font-size: inherit;
}
.adress {
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    color: inherit;
    width: 260px;
}
.adress p {
    color: inherit;
    font-size: inherit;
    margin-top: 0;
}
.footer-links {
    font-family: 'Avenir', sans-serif;
    font-size: inherit;
    color: #212353;
    width: 75px;
    line-height: 2.5;
}
a:hover {
    cursor: pointer;
    font-weight: 700;
    color: #212353;
}
a:visited {
    color: #212353;
}
.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 14px;
}
.social-links {
    height: 50px;
    border-radius: 25px;
}
.social-links:hover {
    transform: scale(1.1);
}
.facebook:hover {
    background-color: #3b5998;
}
.twitter:hover {
    background-color: #1DA1F2;
}
.instagram:hover {
    background-color: #E1306C;
}
.rights {
    position: absolute;
    bottom: 90px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights p {
    font-size: 12px;
    color: #212353;
    width: 260px;
}