@font-face {
    font-family: 'Avenir', sans-serif;
    src: url(../fonts/Avenir.ttf);
}
@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url(../fonts/Helvetica.ttf);
}
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgb(246,250,253), rgb(255,255,255));
}
main {
    width: 1250px;
    margin-top: 50px;
    margin-left: 15vw;
    margin-right: auto;
    height: 755px;
    font-family: 'Avenir', sans-serif;
    color: #4B5D68;
    background-image: url(../img/main_background.png);
    background-repeat: no-repeat;
    background-position: 360px 285px;
}
header {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1120px;
    height: 60px;
}
nav {
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 320px;
    width: 100%;
}
.request-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 420px;
    width: 210px;
    height: 60px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: #212353;
    border: 1px solid white;
    background: white;
    border-radius: 50px;
    box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
    outline: none;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
a {
    color: #4B5D68;
    text-decoration: none;
    outline: none;
}
a:visited {
    color: #4B5D68;
}
a:hover {
    font-weight: 700;
    color: #212353;
}
.image-link:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
.main-info {
    width: 645px;
    height: 465px;
    margin-top: 130px;
}
h1 {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 80px;
    color:  #212353;
}
p {
    font-family: 'Avenir', sans-serif;
    color: #4B5D68;
    font-size: 18px;
    line-height: 1.6;
}
.main-text {
    width: 370px;
    margin-top: 50px;
}
.learn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    margin-top: 50px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: 1px solid #9C69E2;
    background: #9C69E2;
    border-radius: 50px;
    outline: none;
}
.info {
    width: 1117px;
    height: 560px;
    margin-top: 100px;
    margin-left: 15vw;
    margin-right: auto;
    border-radius: 50px;
    background-image: url(../img/storage.png);
    background-repeat: no-repeat;
    background-position: 10px 30px;
    background-color: rgba(240,99,184, 0.15);
    
}
.storage {
    position: absolute;
    width: 465px;
    height: 310px;
    margin-left: 550px;
    margin-top: 125px;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    color:  #212353;
    font-size: 40px;
    margin: 0px;
}
.info-text {
    margin-top: 40px;
}
.features {
    margin-top: 150px;
    margin-left: 15vw;
    margin-right: auto;
    width: 1140px;
    height: 1005px;
}
.features-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 585px;
}
.features-text {
    margin-top: 50px;
    text-align: center;
}
.feature-container {
    display: grid;
    margin-top: 100px;
    justify-content: space-between;
    grid-template-columns: 540px 540px;
    grid-template-rows: 340px 340px;
    row-gap: 50px;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    margin-left: 0;
    color: #212353;
    font-size: 24px;
    font-weight: 400;
}
.block-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 275px;
}
.block-paragraph {
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 350;
}
.feature-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 25px;
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #212353;
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
}
.feature-block {
    display: flex;
    gap: 30px;
    align-items: center;
}